body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  background-color: coral;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  background-color: #635854;
}

.header__inner {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
}

.menu__item {
  margin-right: 40px;
  margin-left: 40px;

}

.contact {
  display: flex;
  flex-direction: column;
}